<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/ed489b5423.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/login.css">
    <title>Document</title>
</head>
<body>
    <form action="" class="formulario">
        <h1>Login</h1>
        <div class="contenedor">
            <div class="input-contenedor" >
                <i class="fa-solid fa-envelope icon"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-key icon"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <div>
                <input type="submit" value="Iniciar" class="button">
                
                <p>¿No tienes cuenta? <a class="link" href="./register.html">Registrate</a></p>
            </div>
        </div>
    </form>  
    
    
</body>
</html>