<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/create.js"></script>
    <link rel="stylesheet" href="../../css/create.css">
    <title>Create</title>

</head>
<body>
    <h1 class="h1-tittle">SELECIONA TU CANCHA</h1>
    <div class="alquiler_cancha">
        <form class="form1" action="" onsubmit="return enviar(this)">
            <label for="">Cancha</label>
            <select name="cancha" id="cancha">
            </select>
            <label for="">Dia</label>
            <input type="date" name="day">
            <label for="">Hora</label>
            <select name="horas" id="horas">
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            <button type="submit">ALQUILAR</button>
        </form>

    </div>
<h2>CANCHAS OCUPADAS</h2>
    <div>
        <form class="form-filter" action="" onsubmit="return filtrar(this)">
            <label for="">Fecha</label>
            <input type="date" name="date">
            <button type="submit">BUSCAR</button>
        </form>
    </div>
    
</body>
</html>